<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjD_vn73-VWuZoRZh0cXyKOs6vjS7wJkM</string>
	<key>GCM_SENDER_ID</key>
	<string>539206024985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osit.inventoryapp</string>
	<key>PROJECT_ID</key>
	<string>osit-inventory-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>osit-inventory-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539206024985:ios:7765da9287e9a23bfd8f88</string>
</dict>
</plist>